* {
  box-sizing: border-box;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: 1028px;
  padding: 20px;
}

ul {
  list-style: none;
  margin: 0 auto;
}

li {
  display: inline-block;
  width: 750px;
  height: 200px;
  text-align: center;
  border: 2px solid chocolate;
  border-radius: 25px;
  margin: 10px;
}

#italian-wedding-pasta-bake {
  background-image: url(images/Italian-Wedding-Pasta-Bake.webp);
}

#baked-potato-soup {
  background-image: url(images/baked-potato-soup.webp);
}

#breakfast-burrito {
  background-image: url(images/breakfast-burrito.webp);
  background-position: center;
}

a {
  display: inline-block;
  text-decoration: none;
  font-size: 24px;
  height: 150px;
  width: 750px;
  /* padding-left: 350px; */
  /* padding-top: 10px; */
  color: black;
  font-weight: 800;
}

#italian-wedding-pasta-bake a {
  padding-left: 410px;
  padding-top: 60px;
}

#baked-potato-soup a {
  padding-right: 200px;
  padding-top: 25px;
}

#breakfast-burrito a {
  padding-left: 140px;
  padding-top: 15px;
}

a:hover {
  color: #00A0C6;
  cursor: pointer;
}